<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .dropdown-content li>a {
            color: #000000 !important;
        }
        .el-menu--dark {
            background-color: #000 !important;
        }
        .el-menu--horizontal.el-menu--dark .el-submenu__title:hover {
            background-color: #000 !important;
        }
        .modal {
            width: 75% !important;
            max-width: 500px;
        }
        .modal-large{
            height: 85% !important;
            max-height: 90% !important;
            max-width: 70% !important;
        }
        
        #loading_modal {
            z-index: 2000 !important;
        }
        
        #sidenav-overlay {
            display: none;
        }
        
        #toast-container {
            top: auto !important;
            right: auto !important;
            bottom: 10%;
            left: 7%;
        }
        .pre {
            background-color: #f5f5f5 !important;
            border: 1px solid #ccc !important;
            border-radius: 4px !important;
            font-family: monospace, monospace;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/vis.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <script type="text/javascript" src="js/vis.min.js"></script>
    <script>
        var app;        // vuejs app
        var network     // visjs network
    </script>
</head>

<body>
    <div id='app'>

        <!--Details Side Bar -->
        <ul id="slide-out" class="side-nav">
            <li style="text-align: center;">
                <a>
                    <h5>Node Details</h5>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <form id="form_node_new" action="#">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Node Name" v-model="selected_node.label" required="required" id="node_name" type="text" class="validate">
                        <label for="node_name">Node Name</label>
                    </div>
                    <div class="input-field col s12">
                        <select required="required" data-placeholder="Month" v-multiselect="selected_node.type" id="node_type" class="validate" multiple>
                            <option value="S">Server</option>
                            <option value="C">Client</option>
                        </select>
                        <label>Node Type</label>
                    </div>
                    <div class="input-field col s12">
                        <button type="button" v-bind:disabled="!selected_node.committed" id="node_details_firewall" style="margin: 0 auto; display: table;"
                            class="waves-effect waves-yellow btn-flat">Edit node firewall</button>
                    </div>
                    <div class="input-field col s12">
                        <button type="button" v-bind:disabled="!selected_node.committed" id="node_details_packets" style="margin: 0 auto; display: table;"
                            class="waves-effect waves-yellow btn-flat">Edit Packet Simulation</button>
                    </div>
                    <div class="input-field col s6">
                        <button type=button id="btn_close_sideNav" class="waves-effect waves-red btn-flat" formnovalidate>Close</button>
                    </div>
                    <div class="input-field col s6">
                        <button type="submit" id="node_details_btn" class="waves-effect waves-green btn-flat">
                        <span v-if="selected_node.committed">Update</span>
                        <span v-else>Create</span>
                    </button>
                    </div>
                </div>
            </form>
        </ul>

        <!-- Firewall Modal -->
        <div id="firewall_modal" class="modal modal-fixed-footer modal-large">
            <div class="modal-content">
                <h4>Firewall - {{selected_node.label}}</h4>
                <div class="row">
                    <div class="input-field col s12">
                        <select required="required" id="node_type" class="validate">
                            <option value="IP">IPTables</option>
                            <option value="PF">PF</option>
                            <option value="NT">NTFTables</option>
                        </select>
                        <label for="node_name">Firewall Type</label>
                    </div>
                    <label style="padding-left: .75rem;">Current Rules</label>
                        <div style="padding-left: .75rem;" ><pre class='pre'>-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT<br/>-A FORWARD -i eth0 -m state --state RELATED,ESTABLISHED -j ACCEPT <br/>-A FORWARD -i eth1 -m state --state NEW,RELATED,ESTABLISHED -j ACCEPT <br/>-A OUTPUT -m state --state NEW,RELATED,ESTABLISHED -j ACCEPT </pre></div>
                    <div class="switch" style="padding-left: .75rem;">
                        <label>Clear current rules?</label><br/><br/>
                        <label>
                          No
                          <input type="checkbox"> <span class="lever"></span>
                          Yes
                        </label></div><br/>
                        <label style="padding-left: .75rem;" for="textarea1">Add the following rules:</label>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="pre materialize-textarea"></textarea>
                    </div>

                    <div class="input-field col s12">
                        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Update</a>
                <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat ">Close</a>
            </div>
        </div>

        <!-- Packet Modal -->
        <div id="packet_modal" class="modal modal-fixed-footer modal-large">
            <div class="modal-content">
                <h4>Packet Generation - {{selected_node.label}}</h4>
                <div class="row">
                    <div class="input-field col s12">
                        <select required="required" id="node_type" class="validate">
                           <option v-bind:value="item" v-for="item in packet_options.Network_Layer">{{item}}</option>
                        </select>
                        <label for="node_name">Network Protocol</label>
                    </div>
                    <div class="input-field col s4">
                         <input placeholder="Source Port" id="source_port" type="number" class="validate" min=0>
                        <label for="node_name">Source Port</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Destination Port" id="dest_port" type="number" class="validate" min=0>
                        <label for="node_name">Destination Port</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="TTL [Hops]" id="TTL" type="number" class="validate" min=0>
                        <label for="node_name">Time to live</label>
                    </div>                    
                    <div class="input-field col s6">
                        <select required="required" id="node_type" class="validate">
                           <option v-bind:value="item" v-for="item in packet_options.Data_Type">{{item}}</option>
                        </select>
                        <label for="node_name">Application Protocol</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="% Corrupt packets" id="TTL" class="percent validate" type="text" >
                        <label for="node_name">Corrupt Packets</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Update</a>
                <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat ">Close</a>
            </div>
        </div>

        <!-- Nav bar -->
       
        <div id="navbar">
            <el-menu mode="horizontal" theme="dark" @select="handleSelect">
              <el-menu-item index="1">GENG5511 - Firewall Visualisation</el-menu-item>
              <el-submenu index="2">
                <template slot="title">Manage Nodes</template>
                <el-menu-item index="2-1">Create New</el-menu-item>
                <el-menu-item index="2-2">Delete Selected</el-menu-item>
                <el-menu-item index="2-3">Connect Nodes</el-menu-item>
            </el-submenu>
            </el-menu>
        </div>

        <!-- Data table-->
        <div class="row">
            <div class="col s5" id="table">
                <table class="bordered highlight">
                    <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="name">Name</th>
                            <th data-field="price">Packets In [T]</th>
                            <th data-field="price">Packets In Blocked</th>
                            <th data-field="price">Packets Out [T]</th>
                            <th data-field="price">Packets Out Blocked</th>
                        </tr>
                    </thead>
                    <tbody id='data_table'>

                    </tbody>
                </table>
            </div>
            <div class="col s7" id="firewall_network"></div>
        </div>

        <!--LOADING MODAL-->
        <div id="loading_modal" class="modal" style="text-align: center;">
            <div class="modal-content">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="waves-effect waves-green ">Loading</p>
            </div>
        </div>
    </div>

    <!--Imports -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/visualiser.js"></script>
    <script type="text/javascript" src="js/websocket.js"></script>
    <script>
        (function ($) {
            $(function () {
                $("select[required]").css({
                    display: "inline",
                    height: 0,
                    padding: 0,
                    width: 0
                });
                $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    hover: false, // Activate on hover
                    belowOrigin: true, // Displays dropdown below the button
                    alignment: 'right' // Displays dropdown with edge aligned to the left of button
                });
            }); // End Document Ready
        })(jQuery); // End of jQuery name space
    </script>
</body>

</html>