<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .dropdown-content li>a {
            color: #000000 !important;
        }
        .el-menu--dark {
            background-color: #000 !important;
        }
        .el-menu--horizontal.el-menu--dark .el-submenu__title:hover {
            background-color: #000 !important;
        }
        .el-dialog--small {
            width: 30% !important;
            min-width: 450px;
        }
        .code {
            background-color: #f5f5f5 !important;
            border: 1px solid #ccc !important;
            border-radius: 4px !important;
            font-family: monospace, monospace;
            line-height: initial !important;
        }
        .firewall_dialog > .el-dialog--small{
            min-width: 700px;
        }
        #side_nav{ 
            position: absolute; 
            right: 0; 
            float: right; 
            top: 58px; 
            min-width:165px; 
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/vis.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <script type="text/javascript" src="js/vis.min.js"></script>
    <script>
        var app;        // vuejs app
        var network     // visjs network
    </script>
</head>

<body style="margin: 0;">
    <div id='app'>
        


        <!-- Nav bar -->
        <div id="navbar">
            <el-menu mode="horizontal" theme="dark" @select="handleSelect">
              <el-menu-item index="1">GENG5511 - Firewall Visualisation</el-menu-item>
              <el-submenu index="2">
                <template slot="title">Manage Nodes</template>
                <el-menu-item index="2-1">Create New</el-menu-item>
                <el-menu-item index="2-2">Delete Selected</el-menu-item>
                <el-menu-item index="2-3">Connect Nodes</el-menu-item>
            </el-submenu>
            </el-menu>
        </div>

        <!-- Data table-->
        <el-row v-loading='loading' element-loading-text="Loading..." >
        <el-col :span="12">
        <el-table :data="tableData" height="100%" style="width: 100%">
          <el-table-column prop="Node_ID" label="ID"></el-table-column>
          <el-table-column prop="Node_Name" label="Name"></el-table-column>
          <el-table-column prop="Packets_In" label="In"></el-table-column>
          <el-table-column prop="Packets_In_Block" label="In [Block]"></el-table-column>
          <el-table-column prop="Packets_Out" label="Out"></el-table-column>
          <el-table-column prop="Packets_Out_Block" label="Out [Block]"></el-table-column>
        </el-table>
            </el-col>
            <el-col :span="12">
                <div style="border-left: solid black;" id="firewall_network"></div>
            </el-col>
        </el-row>

        <!-- SIDE_NAV -->
        <div id="side_nav">
        <el-menu mode="vertical" default-active="2" class="el-menu-vertical-demo" theme="dark">
          <el-submenu index="1">
          <template slot="title"><i class="el-icon-share"></i>Node Details</template>
            <el-menu-item-group title="Node Name">
              <el-menu-item index="1-1"><el-input placeholder="Node Name" v-model="selected_node.label"></el-input></el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="Node Type">
              <el-menu-item index="1-3">
                  <el-select v-model="selected_node.type" placeholder="Node Type">
                    <el-option v-for="item in node_type_options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                  </el-select>
              </el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="Firewall">
          <el-menu-item index="1-4">
            <el-button type="default" :disabled="!selected_node.committed" @click="load_firewall_dialog">Edit Node Firewall</el-button>
          </el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="Packets">
          <el-menu-item index="1-5">
            <el-button type="default" :disabled="!selected_node.committed" @click="load_packet_dialog">Edit Packet Simulation</el-button>
          </el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="Save">
          <el-menu-item index="1-5">
            <el-button type="primary" v-if="selected_node.committed">Update</el-button>
            <el-button type="primary" v-else>Create</el-button>
          </el-menu-item>
      </el-submenu>
    </el-menu>

<!-- Firewall Modal -->
        <el-dialog :title="'Firewall - '+selected_node.label" v-model="form_visible.firewall" class="firewall_dialog">
          <el-form>
            <el-form-item label="Firewall Type">
                <el-select v-model="selected_node.firewall.type" placeholder="Firewall Type">
                    <el-option v-for="item in firewall_options.type" :key="item" :label="item" :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Current Rules:">
            <el-input class="code" readonly type="textarea" autosize placeholder="Please input" v-html="selected_node.firewall.current_rules">
            </el-input>
            </el-form-item>
            <el-radio-group v-model="selected_node.firewall.clear_current">
              <el-radio-button label="Clear"></el-radio-button>
              <el-radio-button label="Append"></el-radio-button>
            </el-radio-group>
            <el-form-item label="Add rules:">
              <el-input class="code" type="textarea" autosize placeholder="Rules here" v-model="selected_node.firewall.new_rules">
              </el-input>
            </el-form-item>
          </el-form>  
          <span slot="footer" class="dialog-footer">
            <el-button @click="form_visible.firewall = false">Cancel</el-button>
            <el-button type="primary" @click="form_visible.firewall = false">Confirm</el-button>
          </span>
        </el-dialog>

        <!-- Packet Modal -->
        <el-dialog :title="'Packet Generation - '+selected_node.label" v-model="form_visible.packet">
          <el-form>
            <el-form-item label="Network Layer">
                <el-select v-model="selected_node.packet_simulation.network_protocol" placeholder="Network Protocol">
                    <el-option v-for="item in packet_options.Network_Layer" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Application Layer">
                <el-select v-model="selected_node.packet_simulation.application_protocol" placeholder="Application Protocol">
                    <el-option v-for="item in packet_options.Application_Layer" :key="item" :label="item" :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Source Port">
                <el-input-number v-model="selected_node.packet_simulation.source_port" :min="1" :max="65535"></el-input-number>
            </el-form-item>
            <el-form-item label="Destination Port">
                <el-input-number v-model="selected_node.packet_simulation.dest_port" :min="1" :max="65535"></el-input-number>
            </el-form-item>
            <el-form-item label="">
            <div class="block">
                <span class="demonstration">Time to live [Hops]</span>
                 <el-input-number v-model="selected_node.packet_simulation.ttl" :min="1" :max="20"></el-input-number>
            </div>
            <div class="block">
                <span class="demonstration">Default value</span>
                <el-slider v-model="selected_node.packet_simulation.corrupt"></el-slider>  
            </div>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="form_visible.packet = false">Cancel</el-button>
            <el-button type="primary" @click="form_visible.packet = false">Confirm</el-button>
          </span>
        </el-dialog>
    
    </div>
</div>

<!--Imports -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/visualiser.js"></script>
    <script type="text/javascript" src="js/websocket.js"></script>
</body>

</html>